/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   outline: 0;
   border: 0;

   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   font: inherit;
   box-sizing: inherit;
   color: inherit;

   background: transparent;
 }

 /* --- ELEMENTS --- */

 body {
   box-sizing: content-box;
   font-family: sans-serif;
   font-size: 14px;
   background: #eee;
   color: #000;
 }

 ul {
   list-style: none;
 }

 img {
   height: auto;
   width: 100%;
   display: block;
 }

 /* --- CLEARFIX --- */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 /* --- HEADER --- */

 .header {
   display: block;
   background: #ff0000;
   width: 100%;
   margin: 0 auto;
   font-size: 20px;
   color: #fff;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
 }

 .header-logo {
   float: left;
   display: block;
   padding: 10px;
   width: 350px;
   font-size: 18px;
   cursor: pointer;
 }

 .header-logo-image {
   float: left;
   height: 50px;
   width: 50px;
   margin-right: 10px;
 }

 .header-list {
   float: right;
 }

 .header-list > li {
   float: left;
   display: block;
   padding: 20px 20px;
   font-size: 16px;
 }

 .header-list > li:last-child {
   padding: 20px 30px 20px 20px;
 }

 .header-list > li:hover {
  color: #eee;
 }

 authcontainer form {
   margin:0 auto;
   float: left;
 }

.signup-logo {
    float: right;
    height: 342px;
    width: 390px;
  }

  authcontainer form > input:first-child {
    margin-top: 80px;
  }

authcontainer form > input {
  display: block;
  padding: 9px;
  width: 200px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

authcontainer form > input:focus {
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}



authcontainer {
  display: block;
  width:700px;
  margin: 0 auto;
  background: #fff;
  padding: 100px;
  position: relative;
}

authcontainer h1 {
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  width: 275px;
}

authcontainer input[type="submit"] {
  color: #fff;
  font-weight: bold;
  background: #ff0000;
  border-radius: 3px;
}

authcontainer li {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #ff0000;
  width: 275px;
}

authcontainer li:last-child {
  margin-bottom: 20px;
}

.loginguest {
  width: 270px;
  display: block;
  text-align: center;
}

.loginguest-btn {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background: #ff0000;
  padding: 9px 0px;
  width: 220px;
  border-radius: 3px;
  margin-bottom: 20px;
}



.loginguest-btn:hover {
  -webkit-filter: brightness(80%);
}

.loginguest > p {
  color: #ccc;
}

authcontainer input[type="submit"]:hover {
    -webkit-filter: brightness(80%);
}

authcontainer p {
  text-align: center;
  vertical-align: middle;
  display: block;
  margin-bottom: 20px;
}

authcontainer small {
    display: inline-block;
    padding-left: 80px;
    text-align: right;
    font-size: 12px;
  }

  authcontainer small:before {
    display:block;
    content: ""
  }

  authcontainer small:after {
    display:block;
    content: ""
  }

.alt-link {
  color: blue;
}

.logged-in-ctn-main {
  float: right;
  padding: 10px 10px;
  font-size: 16px;
}


.logout-btn {
  float: left;
  display: block;
}

.logout-btn:hover {
  float: left;
  display: block;
  cursor:pointer;
  color: #eee;
}
.username {
  float: left;
  display: block;
}


 /* --- LOO MAP --- */

#map-container-index {
  position: relative;
  height: 450px;
  color: white;
  width: 100%;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc
}

 /* --- SEARCH BAR --- */

.search-bar {
  position: absolute;
  background: rgba(204, 204, 204, .8);
  border: 1px solid #C0C0C0;
  margin-top: -50px;
  width: 100%;
  height: 50px;
}

.search-textbar::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
  display: block;

}

.search-textbar {
  display: block;
  margin: 10px 0 0 150px;
  background: #fff;
  width: 250px;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

.search-textbar:focus {
  background: #E6E6FA;
  opacity: 1;
}



 /* --- LOO INDEX ITEM --- */

 .loo-index {
   background: #fff;
   width: 900px;
   margin: 10px auto;
   border: 1px solid #ccc;
 }

 .loo-index-title {
   padding: 20px 20px 0 20px;
   font-weight: bold;
   font-size: 20px;
   color: #ff0000;
 }

.index-item-info {
  cursor: pointer;
  display: block;
  margin: 20px;
  padding: 20px 0px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease-in-out;
  background-color: #fff;
}

.index-item-info.group:hover {
  background: #a3c6ff;
  color: #fff;
}

.index-item-info:last-child {
  border-bottom: 0px solid #fff;
}


.index-item-info-copy {
  margin-left: 20px;
}

.index-item-category-title {
  color: #42bcf4;
  display:block;
  margin-left: 20px;
  font-weight: bold;
}

.index-item-info:hover .index-item-category-title{
  color: #ffffff;
}

.index-item-info:hover .index-item-category-review_count{
  color: #ffffff;
}

.toilet {
  float: left;
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  margin-right: 20px;
}

.index-item-category-address {
  display: block;
}

.index-item-category-review_avg {
  display: block;
  float: left;
  margin-right: 5px;
}

.index-item-category-review_count {
  display: block;
  color: #ccc;
  margin-top: 2px;
  height: 20px;
  text-align: left;
}


.single-loo-show-main-container{
  width: 860px;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
}


.single-loo-title {
  margin-top: 20px;
  color: #42bcf4;
  display:block;
  margin-left: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.single-loo-address {
  display: block;
  margin-right: 20px;
}

.single-loo-picture {
  float: right;
  height: 50px;
  width: 50px;
  border: 1px solid #000;
}

.single-loo-review_avg {
  display:block;
}

.single-loo-review_count {
  display:block;
  height: 20px;
}


#map-container-show {
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  height: 150px;
  width: 150px;
  border: 1px solid #000;
}


 /* --- REVIEWS ON SHOW PAGE --- */

.reviews-container {
  background: #fff;
  margin: 0px auto;
  width: 900px;
  padding-bottom: 20px;
}

.reviews {
  padding-top: 20px;
  margin: 0 20px;
}

.loo-show-review-item-reponses {
  float: left;
}

 .loo-show-review-item {
   background: #fff;
   display: block;
   padding-top: 20px;
   border-top: 1px solid #ccc;
 }

 .loo-show-review-item {
   background: #fff;
   margin-bottom: 20px;
 }

.review-loo-form {
  margin: 0 20px 20px 20px;
}

.loo-show-review-item-username {
  float: left;
  margin-left: 20px;
  width: 150px;
  margin-right: 20px;
}

.review-loo-form-user {
  float: left;
  margin-top: 55px;
  margin-left: 20px;
  margin-right: 80px;
  display: block;
}

.review-loo-form-submit {
  margin-top: 40px;
  margin-right: 60px;
  float: right;
  background: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5%
}

.redo-loo-button {
  margin-right: 60px;
  float: right;
  background: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5%;
  cursor: pointer;
}

.undo-loo-button {
  margin-right: 60px;
  float: right;
  background: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5%;
  cursor: pointer;
}


.review-loo-form-body {
  padding: 10px;
  display: block;
  vertical-align: text-top;
  border: 1px solid #ccc;
  width: 275px;
  height: 75px;
}

fieldset {
  float: left;
}

.star {
  display: block;
  font-size: 24px;
  vertical-align: center;
}

.your-review {
  margin-top: 20px;
}

.other-reviews {
  margin-top: 100px;
}

input[type="submit"][disabled] {
  background: #eee;
}
