/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   outline: 0;
   border: 0;

   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   font: inherit;
   box-sizing: inherit;
   color: inherit;

   background: transparent;
 }

 /* --- ELEMENTS --- */

 body {
   box-sizing: content-box;
   font-family: sans-serif;
   font-size: 14px;
   background: #eee;
   color: #000;
 }

 ul {
   list-style: none;
 }

 img {
   height: auto;
   width: 100%;
   display: block;
 }

 /* --- CLEARFIX --- */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 /* --- HEADER --- */

 .header {
   display: block;
   background: #ff0000;
   width: 900px;
   margin: 0 auto;
   font-size: 20px;
   color: #fff;
 }

 .header-logo {
   float: left;
   display: block;
   padding: 10px;
 }

 .header-list {
   float: right;
 }

 .header-list > li {
   float: left;
   display: block;
   padding: 20px 20px;
   text-shadow: 2px 2px #000;
 }

 .header-list > li:hover {
  color: #eee;
 }

 form {
   margin:0 auto;
   float: left;
 }

  .signup-logo {
    float: right;
    height: 342px;
    width: 390px;
    /*background-image: url('signup_illustration.png');*/
  }

form > input:first-child {
  margin-top: 80px;
}

form > input {
  display: block;
  padding: 9px;
  width: 200px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

authcontainer {
  display: block;
  width:700px;
  margin: 0 auto;
  background: #fff;
  padding: 100px;
}

authcontainer h1 {
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

input[type="submit"] {
  color: #fff;
  font-weight: bold;
  background: #ff0000;
}

authcontainer li {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #ff0000;
  width: 300px;

}

authcontainer li:last-child {
  margin-bottom: 20px;
}

input[type="submit"]:hover {
    -webkit-filter: brightness(80%);
}

authcontainer p {
  text-align: center;
  vertical-align: middle;
  display: block;
  margin-bottom: 20px;
}

.logged-in-ctn-main {
  float: right;
  padding: 10px 20px;
  font-size: 16px;
   text-shadow: 2px 2px #000;
}

.logout-btn {
  float: left;
  display: block;
}

.logout-btn:hover {
  float: left;
  display: block;
  cursor:pointer;
  color: #eee;
}
.username {
  float: left;
  display: block;
}
