/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- RESET --- */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   outline: 0;
   border: 0;

   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   font: inherit;
   box-sizing: inherit;
   color: inherit;

   background: transparent;
 }

 /* --- ELEMENTS --- */

 body {
   box-sizing: content-box;
   font-family: sans-serif;
   font-size: 14px;
   background: #eee;
   color: #000;
   overflow-x: hidden;
 }

 ul {
   list-style: none;
 }

 img {
   height: auto;
   width: 100%;
   display: block;
 }

 /* --- CLEARFIX --- */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 /* --- HEADER --- */

 .header {
   display: block;
   background: #ff0000;
   width: 100%;
   margin: 0 auto;
   font-size: 20px;
   color: #fff;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
 }

.header-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .header-logo {
  //  float: left;
    order: 1;
   padding: 10px;
   width: 350px;
   min-width: 350px;
   font-size: 18px;
   cursor: pointer;
 }

 .header-logo-image {
   float: left;
   height: 50px;
   width: 50px;
   margin-right: 10px;
 }

 .header-list {
   order: 3;
   min-width: 200px;
 }

 .header-list > li {
   float: left;
   display: block;
   padding: 20px 20px;
   font-size: 16px;
 }

 .header-list > li:last-child {
   padding: 20px 30px 20px 20px;
 }

 .header-list > li:hover {
  color: #eee;
 }

 authcontainer form {
   margin:0 auto;
   float: left;
 }

.signup-logo {
    float: right;
    height: 342px;
    width: 390px;
  }

  authcontainer form > input:first-child {
    margin-top: 80px;
  }

authcontainer form > input {
  display: block;
  padding: 9px;
  width: 200px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

authcontainer form > input:focus {
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}



authcontainer {
  display: block;
  width:700px;
  margin: 0 auto;
  background: #fff;
  padding: 100px;
  position: relative;
}

authcontainer h1 {
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  width: 275px;
}

authcontainer input[type="submit"] {
  color: #fff;
  font-weight: bold;
  background: #ff0000;
  border-radius: 3px;
}

authcontainer li {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #ff0000;
  width: 275px;
}

authcontainer li:last-child {
  margin-bottom: 20px;
}

.loginguest {
  width: 270px;
  display: block;
  text-align: center;
}

.loginguest-btn {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background: #ff0000;
  padding: 9px 0px;
  width: 220px;
  border-radius: 3px;
  margin-bottom: 20px;
}



.loginguest-btn:hover {
  -webkit-filter: brightness(80%);
}

.loginguest > p {
  color: #ccc;
}

authcontainer input[type="submit"]:hover {
    -webkit-filter: brightness(80%);
}

authcontainer p {
  text-align: center;
  vertical-align: middle;
  display: block;
  margin-bottom: 20px;
}

authcontainer small {
    display: inline-block;
    padding-left: 80px;
    text-align: right;
    font-size: 12px;
  }

  authcontainer small:before {
    display:block;
    content: ""
  }

  authcontainer small:after {
    display:block;
    content: ""
  }

.alt-link {
  color: blue;
}

.logged-in-ctn-main {
  padding: 10px 10px;
  font-size: 16px;
  order: 3;
}


.logout-btn {
  float: right;
  display: block;
}

.logout-btn:hover {
  display: block;
  cursor:pointer;
  color: #eee;
}
.username {
  float: left;
  display: block;
}

.logged-in-user-image {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}


 /* --- LOO MAP --- */

.main-ctn {
  display: flex;
  height: calc(100vh - 75px);
  width: 100%;
}


.map-ctn {
  height: 100%;
  width: 100%;
}

#map-container-index {
  height: 100%;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc

}

 /* --- SEARCH BAR --- */

.search-bar {
  flex-grow: 4;
  order: 2;
}
.search-bar-form {
  min-width: 400px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-textbar::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
  display: block;

}

.search-textbar {
  box-sizing: border-box;
  display: block;
  margin: 10px 0 0 0;
  background: #fff;
  color: #000;
  width: 400px;
  font-size: 14px;
  padding: 10px 5px;
  cursor: pointer;
  border: green;
}

.search-textbar:focus {
  outline: 3px solid rgb(0,191,255);
}

.search-bar-star-filter {
  -webkit-appearance: none;
  float: left;
  display: block;
  width: 150px;
  background: #fff;
  margin-top: 11px;
  margin-left: 20px;
  padding: 4.5px;
  font-size: 14px;
  font: sans-serif;
}

.search-bar-star-filter:focus {
  outline: 3px solid rgb(0,191,255);
  background: #fff;
}



 /* --- LOO INDEX ITEM --- */

 .loo-index {
   background: #fff;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-top: 1px solid #ccc;
   width: 60%;
   overflow: scroll;
   max-width: 500px;
 }

 .loo-index-title {
   padding: 20px 20px 0 20px;
   font-weight: bold;
   font-size: 20px;
   color: #ff0000;
 }

.index-item-info {
  cursor: pointer;
  display: block;
  padding: 40px 20px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease-in-out;
  background-color: #fff;
}

.index-item-info:hover {
  background: #a3c6ff;
  color: #fff;
}

.index-item-info:last-child {
  border-bottom: 0px solid #fff;
}

.index-item-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 16px;
}

.index-item-category-title {
  margin-top: 10px;
  color: #42bcf4;
  display:block;
  font-weight: bold;
}

.index-item-info:hover .index-item-category-title{
  color: #ffffff;
}

.index-item-info:hover .index-item-category-review_count{
  color: #ffffff;
}

.toilet img {
  float: left;
  height: 50px;
  width: 50px;
  border: 1px solid #000;
}

.index-item-category-address {
  display: block;
}

.index-item-category-review_avg {
  display: block;
  margin-right: 5px;
}

.index-item-category-review_count {
  display: block;
  color: #aaa;
  margin-top: 2px;
  height: 20px;
  text-align: left;
}


.single-loo-show-main-container{
  width: 860px;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}


.single-loo-title {
  margin-top: 20px;
  color: #42bcf4;
  display:block;
  margin-left: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.single-loo-address {
  display: block;
  margin-right: 20px;
  width: 360px;
}

.single-loo-text {
  float: left;
  max-width: 400px;
}

.single-loo-picture {
  float: right;
  height: 300px;
  width: 450px;
  border: 1px solid #000;
}

.single-loo-review_avg {
  display:block;
}

.single-loo-review_count {
  display:block;
  height: 20px;
}


#map-container-show {
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  height: 150px;
  width: 150px;
  border: 1px solid #000;
}



 /* --- REVIEWS ON SHOW PAGE --- */

.reviews-container {
  background: #fff;
  margin: 0px auto;
  width: 900px;
  padding-bottom: 20px;
}

.reviews {
  padding-top: 20px;
  margin: 0 20px;
}

.loo-show-review-item-reponses {
  float: left;
  width: 600px;
  margin-left: 40px;
}

 .loo-show-review-item {
   background: #fff;
   display: block;
   padding-top: 20px;
   border-top: 1px solid #ccc;
 }

 .loo-show-review-item {
   background: #fff;
   margin-bottom: 20px;
 }

 .loo-show-review-item-image {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   margin: 0 auto;
 }

.loo-show-review-item-user-info {
  float: left;
  display: block;
  margin: 0 auto;
  width: 200px;
}

.review-loo-form {
  margin: 0 20px 20px 20px;
}


.loo-show-review-item-username {
  text-align: center;
  margin-top: 10px;
}

.review-loo-form-user {
  float: left;
  margin-top: 55px;
  margin-left: 20px;
  margin-right: 80px;
  display: block;
}

.review-loo-form-submit {
  margin-top: 40px;
  margin-right: 60px;
  float: right;
  background: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5%
}

.review-loo-form-submit:hover, .redo-loo-button:hover, .undo-loo-button:hover {
  cursor: pointer;
}

.redo-loo-button {
  margin-right: 60px;
  float: right;
  background: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5%;
  cursor: pointer;
}

.undo-loo-button {
  margin-right: 60px;
  float: right;
  background: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5%;
  cursor: pointer;
}



.review-loo-form-body {
  padding: 10px;
  display: block;
  vertical-align: text-top;
  border: 1px solid #ccc;
  height: 75px;
  width: 300px;
}

fieldset {
  float: left;
}

.star {
  display: block;
  font-size: 24px;
  vertical-align: center;
}

.your-review {
  margin-top: 20px;
}

.other-reviews {
  margin-top: 100px;
}

input[type="submit"][disabled] {
  background: #eee;
}

/* --- NEW LOO FORM --- */

.new-loo-form-ctn {
  display: block;
  margin: 20px;
  text-align: center;
  width: 900px;
  background: #fff;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.new-loo-form-ctn h1 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
  color: #ff0000;
}

.new-loo-form {
  margin: 0 auto;
  padding: 20px;

}

.new-loo-form input {
  display: block;
  font-size: 14px;
  margin: 20px auto;
  width: 200px;
  border: 1px solid #ccc;
  padding: 9px;
}

 .new-loo-form > input:first-child {
   margin-top: 0px;
 }

.new-loo-form-name:focus {
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.new-loo-form-address:focus {
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}



.new-loo-form-lat-label, .new-loo-form-lng-label {
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
}

.new-loo-form-submit {
  background: #ff0000;
  display: block;
  color: #fff;
  margin: 0 20px 20px 0;
  font-weight: bold;
  border-radius: 5%;
  cursor: pointer;
}
